@model RestaurantRecipeManager.ViewModels.RecipeAddVM

@{
    ViewData["Title"] = "Add Ingredient";
}

<div class="text-center">
    <h1 class="">Add Ingredient</h1>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col d-flex justify-content-center">
            <form method="post" asp-area"" asp-controller="Recipe" asp-action="ApplyAdd">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <input type="number" asp-for="RilId" value="@ViewBag.Item.RilId" class="form-control d-none" />
                    <input type="number" asp-for="RId" value="@ViewBag.Item.RId" class="form-control d-none" />
                    <div class="form-group">
                        <label asp-for="Name" class="control-label">Enter Recipe Name</label>
                        <input asp-for="Name" class="form-control" value="@ViewBag.Item.Name" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="IId" class="control-label">
                            You MUST enter ONE ingredient now, you can add more later.
                            <br />
                            Enter Ingredient ID
                        </label>
                        <input asp-for="IId" class="form-control" value="@ViewBag.Item.IId" />
                        <span asp-validation-for="IId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Quantity" class="control-label">Enter Ingredient Quantity</label>
                        <input asp-for="Quantity" class="form-control" value="@ViewBag.Item.Quantity" />
                        <span asp-validation-for="Quantity" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group pt-3">
                    <input type="submit" value="Save" class="btn btn-success" />
                    <a asp-area="" asp-controller="Recipe" asp-action="All" class="btn btn-danger">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>